<h1><%= @product[:name] %></h1>
<p>Description: <br><%= @product[:description] %></p>
<p>Price: <%= @product[:price_in_cents] %></p>

<p> <%= link_to "Back to homepage", products_path %> | <%= link_to "Edit Product", edit_product_path(@product) %> | <%= link_to "Delete", @product, :confirm => "Are you sure you want to delete this product?", :method => :delete %></p>

<div>
</div>

